<div class="registration">
  <form [formGroup]="registrationForm" class="registration-form">
    <mat-form-field class="example-form-field">
      <input
        matInput
        type="text"
        formControlName="name"
        placeholder="Felhasználónév"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="email"
        formControlName="email"
        placeholder="Email"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="password"
        formControlName="password"
        placeholder="Jelszó"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="password"
        formControlName="rePassword"
        placeholder="Jelszó újra"
      />
    </mat-form-field>
    <div>
      <span>Felhasználó típusa:</span>
      <label>
        <input type="radio" value="Business" formControlName="userType" />
        <span>üzleti</span>
      </label>
      <label>
        <input type="radio" value="Private" formControlName="userType" />
        <span>magán</span>
      </label>
    </div>
    <!-- <mat-form-field> </mat-form-field>
    <mat-form-field> </mat-form-field>
    <mat-form-field> </mat-form-field> -->
    <label>
      <span>Hol halottál rólunk? </span>
      <select name="ads" id="ads" formControlName="ads" value="empty">
        <option *ngFor="let ad of AdTypeEnum" [value]="ad">{{ ad }}</option>
      </select>
    </label>
    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="birthDate"
        placeholder="Születési dátum"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="rules"
        placeholder="Felhasználói szabalyzat"
      />
    </mat-form-field>
  </form>
</div>
