<div class="registration">
  <form [formGroup]="registrationForm" class="registration-form">
    <mat-form-field class="example-form-field">
      <input
        matInput
        type="text"
        formControlName="name"
        placeholder="Felhasználónév"
      />
      <mat-error
        *ngIf="this.registrationForm.controls['name'].hasError('maxlength')"
        >{{ 'Hosszabb mint 75 karakter' }}</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="email"
        formControlName="email"
        placeholder="Email"
      />
      <mat-error
        *ngIf="this.registrationForm.controls['email'].hasError('email')"
        >{{ 'Helytelen email formátum' }}</mat-error
      >
      <mat-error
        *ngIf="
          this.registrationForm.controls['email'].hasError('emailAlreadyExist')
        "
        >{{ 'A megadott email cím már használatban van' }}</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="password"
        formControlName="password"
        placeholder="Jelszó"
      />
      <mat-error
        *ngIf="this.registrationForm.controls['password'].hasError('pattern')"
        >{{
          'Legalább 8 karakter, legalább egy negy betű és egy szimbólum'
        }}</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="password"
        formControlName="passwordConfirm"
        placeholder="Jelszó újra"
      />
      <mat-error
        *ngIf="
          this.registrationForm.controls['passwordConfirm'].hasError('matching')
        "
        >{{ 'Nem egyeznek a jelszavak' }}</mat-error
      >
    </mat-form-field>
    <label id="example-radio-group-label">Felhasználó típusa:</label>
    <mat-radio-group aria-labelledby="example-radio-group-label">
      <mat-radio-button value="Business">Üzleti</mat-radio-button>
      <mat-radio-button value="Private">Magán</mat-radio-button>
    </mat-radio-group>
    <mat-form-field appearance="fill">
      <mat-label>Hol halottál rólunk?</mat-label>
      <mat-select>
        <mat-option *ngFor="let ad of AdTypeEnum" [value]="ad">{{
          ad
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="birthDate" />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error
        *ngIf="
          this.registrationForm.controls['birthDate'].hasError('underEighteen')
        "
        >{{ 'Nem múltál el 18 éves' }}</mat-error
      >
    </mat-form-field>
    <section class="example-section">
      <mat-checkbox class="example-margin" formControlName="rules"
        >Felhasználói feltételek</mat-checkbox
      >
    </section>
    <mat-form-field>
      <input
        matInput
        type="email"
        formControlName="email"
        placeholder="Barát meghívása email alapján"
      />
      <mat-error
        *ngIf="this.registrationForm.controls['email'].hasError('email')"
        >{{ 'Helytelen email formátum' }}</mat-error
      >
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      type="button"
      (click)="sendEmail()"
    >
      Email küldése
    </button>
  </form>
</div>
